name: Update upstream releases
# We pull from here to prevent too much coupling upstream.
on:
  workflow_dispatch:
    inputs:
      cli-version: 
        description: The new CLI version to use.
        required: true
        type: string
      cloud-version: 
        description: The new Cloud version to use.
        required: true
        type: string
      cloud-e2e-version: 
        description: The new cloud-e2e version to use.
        required: true
        type: string
      core-fluent-bit-version: 
        description: The new Core Fluent Bit version to use.
        required: true
        type: string
      core-version: 
        description: The new Core version to use.
        required: true
        type: string
  schedule:
    - cron: "0 * * * *"

jobs:

  get-cli-release:
    uses: ./.github/workflows/get-latest-tag.yaml
    with:
      repo: cli
    secrets:
      token: ${{ secrets.CI_PAT }}

  get-cloud-release:
    uses: ./.github/workflows/get-latest-tag.yaml
    with:
      repo: cloud
    secrets:
      token: ${{ secrets.CI_PAT }}

  get-cloud-e2e-release:
    uses: ./.github/workflows/get-latest-tag.yaml
    with:
      repo: cloud
    secrets:
      token: ${{ secrets.CI_PAT }}

  get-core-fluent-bit-release:
    uses: ./.github/workflows/get-latest-tag.yaml
    with:
      repo: core-fluent-bit
    secrets:
      token: ${{ secrets.CI_PAT }}
      
  get-core-release:
    uses: ./.github/workflows/get-latest-tag.yaml
    with:
      repo: core
    secrets:
      token: ${{ secrets.CI_PAT }}

  update-versions:
    name: Update versions used
    runs-on: ubuntu-latest
    needs:
      - get-cli-release
      - get-cloud-release
      - get-cloud-e2e-release
      - get-core-fluent-bit-release
      - get-core-release
    permissions:
      contents: read
      # Not required as we use CI_PAT directly so we can trigger workflows
      # pull-requests: write
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.CI_PAT }}

      - name: Update versions
        # We want to ensure we do not overwrite anything else in the file, just versions.
        # Note we also cope with empty versions provided on input - this will then use latest.
        run: |
          jq -r . ./component-config.json | \
            jq '.versions.cli = "${{ inputs.cli-version || needs.get-cli-release.outputs.semver-tag }}"' |\
            jq '.versions.cloud = "${{ inputs.cloud-version || needs.get-cloud-release.outputs.semver-tag }}"' |\
            jq '.versions.cloud_e2e = "${{ inputs.cloud-e2e-version || needs.get-cloud-e2e-release.outputs.semver-tag }}"' |\
            jq '.versions.core_fluent_bit = "${{ inputs.core-fluent-bit-version || needs.get-core-fluent-bit-release.outputs.semver-tag }}"' |\
            jq '.versions.core = "${{ inputs.core-version || needs.get-core-release.outputs.semver-tag }}"' |\
            | tee ./component-config.json
        shell: bash

      - name: Generate PR - runs all the tests
        uses: peter-evans/create-pull-request@v4
        with:
          commit-message: 'ci: update to latest versions'
          signoff: true
          branch: ci_update_versions
          delete-branch: true
          title: 'ci: update to latest Calyptia versions'
          # We need workflows permission so have to use the CI_PAT
          token: ${{ secrets.CI_PAT }}
          labels: ci,automerge
          body: |
            Update Calyptia versions
            - CLI: ${{ inputs.cli-version || needs.get-cli-release.outputs.tag }}
            - Cloud: ${{ inputs.cloud-version || needs.get-cloud-release.outputs.tag }}
            - Cloud E2E: ${{ inputs.cloud-e2e-version || needs.get-cloud-release.outputs.tag }}
            - Core Fluent Bit: ${{ inputs.core-fluent-bit-version || needs.get-core-fluent-bit-release.outputs.tag }}
            - Core: ${{ inputs.core-version || needs.get-core-release.outputs.tag }}

            Github info:
            - Created by ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
            - Auto-generated by create-pull-request: https://github.com/peter-evans/create-pull-request
          draft: false
